*{
padding: 0;
margin: 0;
text-decoration: none;
box-sizing: border-box;
}
nav.navbar{
background-image: linear-gradient(to right, rgba(21, 21, 96, 1), rgba(45, 45, 205, 1));
height: 60px;
font-family: Hachi Maru Pop;
}
label.logo{
color: white;
font-size: 30px;
line-height: 60px;
padding: 0 60px;
font-weight: bold;
}
nav ul{
float: right;
margin-right: 20px;
}
nav ul li{
display: inline-block;
line-height: 40px;
margin: 0 10px;
}
nav ul li a{
color: white;
padding: 7px 30px;
font-size: 15px;
border-radius: 7px;
}
a.active, a:hover{
background: #202092;
transition: .5s;
}
.search{
padding: 10px;
font-family: Noto Sans JP;
width: 200px;
height: 40px;
font-size: 20px;
border: 1px solid #ddd;
border-radius: 7px;
background-color: #d5ecf6;
}
.fa-search{
font-size: 25px;
color: white;
}
.fa-plus{
color: white;
size: 3x;
}
.image-parent {
  max-width: 40px;
}