*{
padding: 0;
margin: 0;
text-decoration: none;
box-sizing: border-box;
}
nav.navbar{
background-image: linear-gradient(to right, #4d2800, #804200);
height: 60px;
font-family: Hachi Maru Pop;
}
label.logo{
color: white;
font-size: 30px;
line-height: 60px;
padding: 0 60px;
font-weight: bold;
}
nav ul{
float: right;
margin-right: 20px;
}
nav ul li{
display: inline-block;
line-height: 40px;
margin: 0 10px;
}
nav ul li a{
color: white;
padding: 7px 30px;
font-size: 15px;
border-radius: 7px;
}
a.active, a:hover{
background: #452400;
transition: .5s;
}
::placeholder{
color: black;
}
.search{
color: black;
padding: 10px;
font-family: Noto Sans JP;
width: 200px;
height: 40px;
font-size: 20px;
border: 1px solid black;
border-radius: 7px;
background-color: #8F7B66;
}