.contain{
    background-color: #e6bf97;
}
.flexbox-container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px;
    width: 70%;
}
.flex-row{
    justify-content: flex-start;
    background-color: #f5e5d5;
    border-radius: 4px;
    width: 100%;
    margin: 6px;
    border: #7E635578 1px solid;
    padding: 5px 5px 15px 5px;
    display: flex;
    flex-direction: row;
}
#image{
    height: 197px;
    width: 160px;
    border-radius: 4px;
    margin-right: 5px;
}
.right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.flex-row a:hover{
    background: none;
}
.title-author{
    max-width: 80%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}
#title{
    justify-content: left;
    /*word-wrap: break-word;*/
    color: black;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 7px;
    border-bottom: #EFEBE9 solid 1px;
}
#title:hover{
    font-weight: 400;
    background: none;
    text-decoration: black;
}
#author{
    /*word-wrap: break-word;  is the same for flex-wrap: wrap*/
    font-size: 16px;
    font-weight: 200;
}
#date{
    font-style: italic;
    font-size: 10px;
}
.price-details{
    align-items: flex-end;
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.fa-plus{
    font-size: 40px;
    color: black;
}
.top{
    align-items: flex-end;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#add-to-cart{
    font-size: 11px;
    font-weight: 200;
}
.price{
    font-weight: bold;
}
.update-cart{
    background: none;
    border: none;
}