{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/579463f4a6.js" crossorigin="anonymous"></script>
    <link href="{% static '/css/base.css' %}" rel="stylesheet">
    <title>BookMarket</title>
</head>
<body>
    <nav>
        <label class="logo">BookStore</label>
        <ul>
            <li>
                <form method="GET" action="{% url 'book_add' %}">
                    <button type="submit" class="fas fa-plus"></button>
                </form>
            </li>
            <li>
                <form method="GET" action="{% url 'book_search' %}">
                    <input type="text" class="search" name="search" placeholder="Search Books..">
                    <button type="submit" class="fas fa-search" ></button>
                </form>
            </li>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">Market</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>