{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/579463f4a6.js" crossorigin="anonymous"></script>
    <link href="{% static '/css/base.css' %}" rel="stylesheet">
    <title>BookMarket</title>
</head>
<body>
    <nav class="navbar">
        <label class="logo">BookStore</label>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <h2 style="color: white; font-family: Noto Sans JP; font-size: 15px;">Hello {{ user|title }}</h2>
            </li>
            <li>
                <a style="color: white; font-family: Noto Sans JP; font-size: 15px;" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
                <a style="color: white; font-family: Noto Sans JP; font-size: 15px;" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
            <li>
                <form method="GET" action="{% url 'book_search' %}">
                    <input type="text" class="search" name="search" placeholder="Search Books..">
                </form>
            </li>
            <li><a class="active" href="{% url 'home' %}">Home</a></li>
            <li><a href="#">Market</a></li>
            <li><a href="#">About</a></li>
            {% if user.is_authenticated %}
            <li><a href="#">Basket</a></li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock content %}
