{% extends 'market/base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static '/css/home.css' %}" rel="stylesheet">
    <title>BookMarket</title>
    <script src="{% static 'js/add_to_cart.js' %}"></script>
</head>
{% if products %}
<div class="contain">
    <div class="flexbox-container">
        {% for product in products %}
            <div class="flex-row">
                <a href="{{ product.infolink }}"><img id="image" src="{{product.image}}" alt="None"></a>
                <div class="right">
                    <div class="title-author">
                        <a href="{{ product.infolink }}"><p id="title">{{product.title}}</p></a>
                        <p id="author">{{product.author}}</p>
                        <p id="date">date added:<br>{{product.date}}<br><strong>seller: {{product.user}}</strong></p>
                    </div>
                    <div class="price-details">
                        <p class="price">{{ product.price }} PLN</p>

                        {% if user.is_authenticated %}
                        <div>
                            <p id="add-to-cart">add to cart</p>
                            <button data-url = {% url 'home' %}
                                    data-action="add"
                                    data-product="{{product.id}}"
                                    class="update-cart">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
</html>
{% endblock content %}

